<form method="post" action="guardarReclamo">
<ul class="form-style-1">
    		<!--label align="left" for="tipoReclamo" class="rem" style="left: 5px">Tipo de Reclamo:</label>
		    <select name="reclamo[tipoReclamo]" id="tipoReclamo" value="<%= reclamo.tipoReclamo %>">		    
		    	<option>ODECO</option>
		    	<option>PRODUCTOS</option>
		    	<option>SERVICIOS</option>
		    </select>
		    </li>
    		<label for="observacion">Observaciones:</label>
	    	<input type="text" id="observacion" name="reclamo[observacion]" value="<%= reclamo.observacion %>">
	    	<label for="fecha">Fecha:</label>
	    <input type="text" id="fecha" name="reclamo[fecha]" value="<%= reclamo.fecha %>">
    	<input type="submit" name="envio" value="Registrar Reclamo"-->
    <li><label>Tipo de Reclamo <span class="required">*</span></label>
        <select name="reclamo[tipoReclamo]" id="tipoReclamo" value="<%= reclamo.tipoReclamo %>" class="field-select">
		    	<option>ODECO</option>
		    	<option>PRODUCTOS</option>
		    	<option>SERVICIOS</option>
        </select>
    </li>
    <li>
        <label for="observacion">Observaciones:<span class="required">*</span></label>
        <input input type="text" id="observacion" name="reclamo[observacion]" value="<%= reclamo.observacion %>" class="field-long" />
    </li>
    <li>
    	<label for="fecha">Fecha:<span class="required">*</span></label >
    	<input type="text" id="fecha" name="reclamo[fecha]" value="<%= reclamo.fecha %>"/>
    </li>
    <li>
            	<input type="submit" name="envio" value="Registrar Reclamo"-->
    </li>
</ul>
</form>
